{% include 'test/styles.css.twig' with {tags:1} %}

<h1>Twig function: <code>lorem</code></h1>

<h2><code>{{ "{{ lorem() }}" }}</code></h2>
<p>Default: one to seven words.</p>
<blockquote>
{{ lorem() }}
</blockquote>

<h2><code>{{ "{{ lorem('15 words') }}" }}</code></h2>
<p>Outpout 15 words.</p>
<blockquote>
{{ lorem('15 words') }}
</blockquote>

<h2><code>{{ "{{ lorem('1-5 sentences') }}" }}</code></h2>
<p>Output between 1 and 5 sentences.</p>
<blockquote>
{{ lorem('1-5 sentences') }}
</blockquote>

<h2><code>{{ "{% for para in lorem('[3p]') %}<br>&lt;p>{{ para}}&lt;/p><br>{% endfor %}" }}</code></h2>
<p>Get an array of 3 paragraphs, and make P tags for them.</p>
<blockquote>
{% for para in lorem('[3p]') %}
    <p>{{ para }}</p>
{% endfor %}
</blockquote>
