{# This template is just for testing syntax coloring.
   It will fail rendering. #}
{% spaceless %}

    {% set htmlClass = htmlClass ?? page.category %}
    {% set defaultLang = config('lang.default', 'en') %}
    {% set pageLang = page.lang() %}

    {% set metaTitle = metaTitle ?? page.metatitle.or(page.title) %}
    {% set metaDesc = metaDesc ?? page.abstract.or('') %}
    {% set canonical = canonical ?? false %}
    {% set author = author ?? page.author.or('') %}
    {% set robots = robots ?? page.robots.or('noarchive') %}
    {% set feed = feed ?? page.feed.or('') %}

    {% set showNav = showNav ?? page.shownav.or(true) %}
    {% set pageCss = pageCss ?? page.style.or('') %}

{% endspaceless %}
<!doctype html>
<html lang="{{ defaultLang }}" class="{{ htmlClass }}">

<head>
    <meta charset="UTF-8">
    <title lang="{{ pageLang }}">{{ metaTitle|striptags|raw }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% if metaDesc %}
        <meta name="description" lang="{{ pageLang }}" content="{{ metaDesc|striptags }}">
    {% endif %}
    {% if author %}
        <meta name="author" content="{{ author }}">
    {% endif %}
    {% if robots %}
        <meta name="robots" content="{{ robots }}">
    {% endif %}
    <link rel="stylesheet" href="{{ site.asset('css/main.css') }}">
    <link rel="icon" sizes="256x256" href="{{ site.asset('icon/256b.png') }}">
    <link rel="icon" sizes="32x32" href="{{ site.asset('icon/32b.png') }}">
    {% if canonical %}
        <link rel="canonical" href="{{ canonical.url }}">
    {% endif %}
    {% if feed %}
        <link rel="alternate" type="application/atom+xml" href="{{ feed }}">
    {% endif %}
    {{ snippet('headscripts') }}
    {{ snippet('typekit') }}
    {% if pageCss %}
        <style>
            {{ pageCss }}
        </style>
    {% endif %}
</head>
<body class="Layout">

{{ showNav ? snippet('nav') }}

<main class="Layout-main">
    {% block content %}{% endblock %}
</main>

{% if page.template == 'article' %}
    <script async src="{{ site.asset('js/content-utils.js') }}"></script>
{% endif %}

</body>
</html>
{% endif %}