{% include 'test/styles.css.twig' with {tags:1} %}

<h1>TwigExpress tests</h1>

<p><strong>Scope:</strong> We’re only testing features specific to TwigExpress.</p>
<p>Manual tests for now. We’ll look at PHP testing tools later on.</p>

<table>
    <tr>
        <th>Page</th>
        <th>Twig source</th>
    </tr>
{% for name in files('*.twig', 'test') if name != 'index.twig' %}
{% set url = name|replace({'.twig':''}) %}
    <tr>
        <td><a href="{{ _base }}test/{{ url }}">{{ url }}</a></td>
        <td><a href="{{ _base }}test/{{ name }}">{{ name }}</a></td>
    </tr>
{% endfor %}
</table>
